<form #form="ngForm" autocomplete="off">
  <p-panel header="Hello, World!">
    <div class="p-grid">
      <div class="p-col">
        <h3>Let's Hello World this bitch!</h3>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-4">
        <span class="ui-float-label">
          <input name="name" type="text" pInputText [(ngModel)]="name" [required]="true" />
          <label for="float-input">Name</label>
        </span>
      </div>
      <div class="p-col-4">
        <p-button name="command" label="Say Hello!" (onClick)="sayHello($event)" [disabled]="!form.valid"></p-button>
      </div>
    </div>
  </p-panel>
  <p-panel header="Output">
    <div class="p-grid">
      <div class="p-col">
        <p-card header="Greeting">
          <h1 style="color:indianred">{{greeting}}</h1>
        </p-card>
      </div>
    </div>
  </p-panel>
</form>