<form #form="ngForm" autocomplete="off">
  <p-panel header="Compute, World!">
    <div class="p-grid">
      <div class="p-col">
        <h3>Let's Compute World this bitch!</h3>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-3">
        <div></div>
        <span class="ui-float-label">
          <input name="operand1" id="float-input" type="number" size="30" pInputText [(ngModel)]="operation.operand1"
            [required]="true" />
          <label for="float-input">Operand 1</label>
        </span>
      </div>
      <div class="p-col-3">
        <div></div>
        <p-dropdown name="operation" [options]="operations" [(ngModel)]="operation.operation" [required]="true">
        </p-dropdown>
      </div>
      <div class="p-col-3">
        <div></div>
        <span class="ui-float-label">
          <input name="operand1" id="float-input" type="number" size="30" pInputText [(ngModel)]="operation.operand2"
            [required]="true" />
          <label for="float-input">Operand 2</label>
        </span>
      </div>
      <div class="p-col-3">
        <p-button name="command" label="Compute!" (onClick)="doCompute($event)" [disabled]="!form.valid"></p-button>
      </div>
    </div>
  </p-panel>
  <p-panel header="Output">
    <div class="p-grid">
      <div class="p-col-4">
        <p-card header="Resultant">
          <h1 style="color:indianred">{{operation.result}}</h1>
        </p-card>
      </div>
      <div class="p-col-4">
        <p-card header="POST json">
          <pre><code class="language-json" pCode *ngIf="postData">{{postData}}</code></pre>
        </p-card>
      </div>
      <div class="p-col-4">
        <p-card header="Response json">
          <pre><code class="language-json" pCode *ngIf="responseData">{{responseData}}</code></pre>
        </p-card>
      </div>
    </div>
  </p-panel>
</form>